@charset "ISO-8859-1";

div.con {
	background: linear-gradient(#fff, #f8f9fa, #ddd3cd, #7c4d2f);
}

header {
	max-height: 50px;
}

header nav div.header-right {
	display: flex;
	align-items: center;
}

header div#search-div {
	margin-right: 5%;
}

header nav div#logout-div {
	margin-right: 5%;
}

header nav div.logo_div {
	padding-left: 50px;
}

div.inner-con {
	margin: 150px 0 0 70px;
	position: absolute;
}